<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="stylesheets/stylesheet.css" />
  </head>
  <body>
    <%- include("../partials/navbar.ejs") %>
    <ul class="group-items">
      <% developers.map((developer)=>{ %>
      <li class="name"><%= developer.name %> -</li>
      <a classname="edit" href="/developer/<%=developer.id%>/edit" class="edit"
        >Edit</a
      >
      <form
        action="/developer/<%= developer.id %>/delete"
        method="post"
        style="display: inline"
      >
        <button
          type="submit"
          class="delete"
          onclick="return confirm('Are you sure you want to delete this developer?');"
        >
          X
        </button>
      </form>

      <%})%>
      <form action="/developer/create">
        <button class="create">Create</button>
      </form>
    </ul>
  </body>
</html>
