<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>List of Games</title>
    <link rel="stylesheet" href="stylesheets/stylesheet.css" />
  </head>
  <body>
    <%- include("../partials/navbar.ejs") %>
    <ul class="games group-items">
      <% games.map((game)=>{ %>
      <li class="name"><%= game.name %></li>

      <li>Category: &nbsp;<%= game.category %></li>
      <li>Developer: &nbsp;<%= game.developer %></li>
      <li>
        Release date: &nbsp;<%= game.release_date.toLocaleDateString("en-US")%>
      </li>
      <a href="/game/<%=game.id%>/edit" class="edit">Edit</a>
      <form
        action="/game/<%= game.id %>/delete"
        method="post"
        style="display: inline-block"
      >
        <button
          type="submit"
          class="delete"
          onclick="return confirm('Are you sure you want to delete this game?');"
        >
          X
        </button>
      </form>
      <%})%>
      <form action="/game/create">
        <button class="create">Create</button>
      </form>
    </ul>
  </body>
</html>
