<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title%></title>
    <link rel="stylesheet" href="stylesheets/stylesheet.css" />
  </head>
  <body>
    <%- include("../partials/navbar.ejs") %>
    <p><%= game.name%></p>
    <p><%= game.category%></p>
    <p><%= game.developer%></p>
    <p><%= game.release_date%></p>
    <a href="/game/<%=game.id%>/edit">Edit</a>
    <a classname="delete" href="/game/<%=game.id%>/delete">X</a>
  </body>
</html>
