<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=title %></title>
  </head>
  <body>
    <form action="/game/edit" method="post">
      <label for="gameName">New name:</label
      ><input type="text " name="gameName" placeholder="<%= game.name %>" />
      <label for="categoryName">Change category:</label>
      <select name="category" id="category">
        <% categories.map((category)=>{%>
        <option value="<%= category.name %>"><%= category.name %></option>
        <%})%>
      </select>
      <label for="categoryName">Change developer:</label>
      <select name="game" id="game">
        <% developers.map((developer)=>{%>
        <option value="<%= developer.name %>"><%= developer.name %></option>
        <%})%>
      </select>
      <button type="submit">Submit form</button>
    </form>
  </body>
</html>
